@import url(https://fonts.googleapis.com/css?family=Montserrat);

body {
  font-family: "Montserrat", sans-serif;
  margin-bottom: 100px;
  margin-top: 100px;
}

.container p {
  max-width: 350px;
  word-wrap: break-word;
  white-space: normal;
}

.container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 150px;
    justify-content: space-between;
    align-items: center;
  }

#header-box {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 150px;
  align-items: center;
}

#header-box p {
font-size: 28px;
}

#header-text {
  max-width: 50%;
}

.project {
    text-align: center;
    position: relative;
    width: 275px;
    height: 200px;
    border: 3px solid black;
    border-radius: 25px;
  }

  .section-header {
    font-size: 56px;
  }

  .project-header {
    font-size: 48px;
  }

  .icon {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    width: 20%;
    max-width: 300px;
    height: auto;
    border-radius: 5px;
    cursor: pointer;
  }

  .hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

#contact {
  display: flex;
  justify-content: center;
  gap: 35px;
  
}

.vertical-line {
  margin-top: 20px;
  border-left: 2px solid rgb(53, 53, 53);
  height: 35px; 
}

.fading-line {
  height: 2px;
  width: 100%;
  background: linear-gradient(to right, transparent, black, transparent);
  border: none;
  margin-top: 35px;
}

#kmeans {
  border: 1px solid black;
}

section {
  margin-bottom: 100px;
}

#headshot {
  border-radius: 75px;
}

.cert-container{
  display: flex;
  align-items: center;
}

.cert-text {
  font-size: 18px;
}

.cert-container img{
  width: 75px;
  height: 75px;
  margin-right: 10px;
}